# model / weights
*.pt
*.pth
*.bin
*.ckpt
*.safetensors

# data / results
local_hf_datasets/
watermark-result/
*.json
*.jsonl

# images / pdf
*.png
*.jpg
*.jpeg
*.pdf

# logs
*.log
log_*.txt
nohup.out

# checkpoints / models
my_watermark_embedder*/
qwen_lsh_lora*/
qwen_lsh4B_lora*/
qwen_lsh8B_lora*/

# cache
__pycache__/
*.pyc